<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Index</title>
</head>
<body>
   <div id="aboutMe">
    <h1>Timothy LeBrun</h1>
    <ol>
        <li>Football</li>
        <li>Games</li>
        <li>Movies</li>
    </ol>

      <a href = "todo.json">Todo Page</a>
      <a href = "read-todo.html">Read-Todo Page</a>

   </div>
    

    
</body>
</html>