<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>About</title>
</head>
<body>
    <ul>
        <li><a href = "index.html">Index </a></li>
        <li><a href = "about.html">About </a></li> 
     </ul>
    <h1>Welcome to the About Page!</h1>
    <img src="images/dog.jpg" alt="Dog" width=400 height=300>
    <p>
        Curabitur quis nisl ac ante laoreet aliquet ultricies id dolor. Nunc quis dolor quis enim dictum posuere. Maecenas eleifend vel velit et aliquet. Curabitur ligula mauris, tristique vel nulla in, interdum ullamcorper neque. Mauris ut porttitor quam, vitae molestie neque. Ut tristique augue lacus, sed aliquet odio blandit quis. In ante enim, maximus vel ornare et, tincidunt ac elit. Sed eu arcu quis dui pulvinar condimentum. Duis cursus ullamcorper nisl ac consequat. Phasellus congue felis a elit euismod faucibus. Maecenas tristique posuere aliquam. Quisque scelerisque nunc nec rhoncus auctor.
    </p>
    <p>
        In hac habitasse platea dictumst. Sed a felis non nisi faucibus pulvinar. Vivamus vitae purus vitae ipsum tincidunt ornare. Praesent sed ultricies lorem. Proin faucibus lectus quam, et sollicitudin sapien commodo sed. Suspendisse sagittis viverra arcu id condimentum. Suspendisse lobortis posuere leo a lobortis. Sed lobortis ut odio sed tincidunt. Vivamus convallis leo ac pellentesque dictum. Vivamus dictum, dui vel laoreet molestie, mi nibh varius elit, vel volutpat nulla ligula eu libero. Integer eleifend volutpat mattis. Cras volutpat augue tellus, sed elementum nisl posuere vitae. Quisque fermentum lorem non lorem commodo, ut sollicitudin eros volutpat. Quisque id augue id magna placerat porta. 
    </p>

   
        
    
</body>
</html>