<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Index</title>
</head>
<body>
    <ul>
        <li><a href = "index.html">Index </a></li>
        <li><a href = "about.html">About </a></li> 
     </ul>
    <h1>Welcome to the Index Page!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec turpis velit, malesuada convallis gravida dictum, porttitor ut justo. Nullam at tortor et tellus pharetra pulvinar in a odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec mauris massa, consequat vitae rutrum vitae, suscipit sit amet est. Quisque fermentum lacus pulvinar mi ultricies, quis ultrices nulla rhoncus. Ut vel sagittis est, at sagittis lacus. Etiam et cursus est, et placerat arcu.</p>
    
</body>
</html>