table {
    width: 50%;
}
th {
    background: #f1f1f1;
    font-weight: bold;
    padding: 6px;
}
td {
    background: #f9f9f9;
    padding: 6px;
}

html{
    font-size: 30px;
}
body{
    background-color:khaki;
}

h1{
    text-align:center
}

ol{
    text-align: center;
    list-style-position: inside;
}

#aboutMe{
    text-align: center;
}
